.logoLogin {
    display: flex;
    background: url(../../../public/mercedes-benz.png) center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-end;
    align-items: flex-end;
    width: 450px;
    height: 300px;
    margin: 0 48px 0 0;
}